version: '3'

services:
    nginx:
        image: nginx:latest
        container_name: nginx
        ports:
            - "8080:80"
        volumes:
            - ./laravel9FirstApp/public:/var/www/html #프로젝트 경로
            - ./nginx/default.conf:/etc/nginx/conf.d/default.conf #nginx 설정 파일

    mysql:
        image: mariadb:latest
        container_name: mariadb
        restart: unless-stopped
        tty: true
        ports:
            - "3306:3306"
        environment:
            MYSQL_HOST: localhost
            MYSQL_DATABASE: laravel
            MYSQL_USER: root
            MYSQL_PASSWORD: root
            MYSQL_ROOT_PASSWORD: root

    php:
        image: php:8.1-fpm
        container_name: php
        volumes:
            - ./Project:/var/www/html
        ports:
            - "9000:9000"
        command:
            - /bin/sh
            - -c
            - |
                echo "security.limit_extensions = .php .phtml .php3 .php4 .php5 .html .htm" >> /usr/local/etc/php-fpm.d/www.conf
                php-fpm
