version: '3.7'

services:
    app:
        build:
            args:
                user: root
                uid: 501
            context: ./
            dockerfile: dockerfile
        image: laravel-app
        restart: unless-stopped
        working_dir: /var/www/html
        volumes:
            -   ./:/var/www/html
        networks:
            -   mynetwork
    nginx:
        image: nginx:latest
        restart: unless-stopped
        ports:
            - "8080:80"
        volumes:
            - ./:/var/www/html #프로젝트 경로
            - ./nginx/default.conf:/etc/nginx/conf.d/default.conf #nginx 설정 파일
        networks:
            - mynetwork

    mysql:
        image: mariadb:latest
        restart: unless-stopped
        ports:
            - "3306:3306"
        environment:
            MYSQL_HOST: localhost
            MYSQL_DATABASE: laravel
            MYSQL_USER: root
            MYSQL_PASSWORD: root
            MYSQL_ROOT_PASSWORD: root
        networks:
            - mynetwork

networks:
    mynetwork:
        driver: bridge
